@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html,
body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 18px;
}

@media (min-width: 1000px) {
    html,
    body {
        font-size: 24px;
    }
}

img {
    max-width: 100%;
}

header {
    background-color: #011827;
    color: white;
    padding: 1em;
}

header h1 {
    margin: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 130px;
    font-weight: 700;
    font-size: 22px;
    width: 120px;
    background-image: url("/logos/logo.png");
    background-size: 120px auto;
    background-repeat: no-repeat;
}

@media (min-width: 600px) {
    header h1 {
        width: auto;
        font-size: 40px;
        padding-left: 140px;
        padding-top: 30px;
    }
}

.main-navigation a {
    font-size: 1rem;
}

@media (max-width: 600px) {
    .main-menu {
        display: none;
    }
    .main-navigation {
        background-color: rgba(255, 255, 255, 0);
        transition: background-color 0.5s;
    }
}

@media (min-width: 600px) {
    .main-navigation {
        display: block;
        background-color: #011827;
        padding-top: 1.8rem;
    }
    .main-menu {
        margin: 0;
        display: flex;
        justify-content: space-evenly;
    }
    .main-menu-links {
        list-style-type: none;
    }
    .main-menu-links a {
        display: block;
        color: white;
        font-weight: bold;
        text-decoration: none;
        padding: 1em 1.2em;
        transition: color 0.5s;
    }
    .main-menu-links a:hover {
        color: #8acfe5;
    }
}

.hero-section img {
    width: 100%;
    min-height: 40vh;
    object-fit: cover;
}

@media (min-width: 600px) {
    .hero-section img {
        max-height: 60vh;
    }
}

.reviews-section {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
}

.review-block {
    list-style-type: none;
    display: none;
}

.review-block:first-child {
    display: block;
}

.review {
    display: grid;
    grid-template-columns: 74px auto;
    column-gap: 1em;
}

.quote {
    margin: 0;
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
    font-weight: normal;
    width: 33vw;
}

.user {
    grid-column: 2/3;
}

@media (min-width: 1000px) {
    .reviews-list {
        display: flex;
    }
    .review-block {
        display: block;
    }
}

.challenges {
    margin: 3rem 0;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.challenges h2 {
    text-align: center;
}

.challenge-list {
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
}

.challenge-item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 360px;
    max-width: 400px;
    border-radius: 4px;
    margin: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.challenge-item .challenge-title,
.challenge-item .challenge-description,
.challenge-item .rating,
.challenge-item .challenge-meta,
.challenge-item .button {
    margin: 0.5rem;
}

.challenge-item .challenge-type {
    position: absolute;
    background-color: #8acfe5;
    top: 0.5em;
    right: 0.5em;
    padding: 0.2em;
}

.challenge-item .challenge-image {
    grid-column: span 2;
}

.challenge-item .challenge-title {
    grid-column: span 2;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0.8em;
    margin-bottom: 0;
}

.challenge-item .challenge-meta {
    text-align: right;
}

.challenge-item .challenge-description {
    grid-column: span 2;
}

.challenge-item .button {
    grid-column: 2/3;
    font-size: 0.7em;
    padding: 1em;
}

.challenges-cta {
    margin: 3rem 3rem;
}

.rating {
    display: flex;
    gap: 0.6em;
    padding-left: 0px;
}

.rating .star-active {
    list-style-type: none;
    width: 23px;
    height: 26px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/logos/star-active.png);
}

.rating .star-inactive {
    list-style-type: none;
    width: 23px;
    height: 26px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/logos/star-inactive.png);
}

.challenges-button {
    grid-column: 2/3;
    font-size: 0.7em;
    padding: 1em;
    background-color: #e3170a;
    color: White;
    width: 180px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    margin-bottom: 6px;
    cursor: pointer;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #011827;
    color: white;
    padding: 3rem 1rem;
}

.story-text {
    max-width: 22rem;
    text-align: center;
    margin-bottom: 2rem;
}

.story-button {
    position: relative;
    top: 2vh;
    left: 0vw;
    color: #8acfe5;
    background-color: #011827;
    border: 2px solid #8acfe5;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 10px 30px;
    cursor: pointer;
    text-decoration: none;
}

footer {
    background-color: #011827;
    color: white;
    padding: 1rem 1rem 3rem;
    min-height: 32vh;
}

footer h2 {
    font-size: 1.2em;
    margin: 2em 0 0.3em;
}

footer .footer-text {
    margin: 0;
    width: 26vw;
}

footer .footer-social-media {
    text-align: left;
    padding-left: 0px;
}

footer li {
    list-style-type: none;
}

footer .misc-link+.play-link {
    margin-top: 1em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #8acfe5;
}

@media (min-width: 1000px) {
    footer {
        margin-top: 110px;
        padding-top: 6em;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        font-size: 0.7rem;
    }
    footer .footer-intro {
        grid-column: 2/7;
    }
    footer .footer-site-map {
        grid-column: 8/10;
    }
    footer .footer-social {
        grid-column: 10/12;
    }
}

.play-container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.play-container .play {
    margin: 0 0 2rem;
}

.play-container .play .play-image {
    object-fit: cover;
}

.play-container .play .play-title,
.play-container .play .play-intro {
    margin-left: 1rem;
    margin-right: 1rem;
}

.play-container .play .play-button {
    width: 18vw;
    height: 8vh;
    display: block;
    border-radius: 4px;
    padding: 1em 2em;
    font-weight: 700;
    font-size: large;
    text-decoration: none;
    text-align: center;
    position: relative;
    left: 1.7vw;
    border-width: 0;
    background-color: #e3170a;
    text-decoration: none;
    color: white;
}

@media (min-width: 600px) {
    .play-container .play {
        display: flex;
        flex-direction: row;
        font-size: 0.8rem;
        margin-bottom: 0;
    }
    .play-container .play .button {
        margin-top: 0;
        font-size: 0.8rem;
    }
    .play-container .play .play-image {
        max-width: 50%;
    }
    .play-container .play .play-info {
        padding: 2rem;
    }
    .play-container .play:nth-child(even) {
        flex-direction: row-reverse;
    }
}