header {
    background-color: #011827;
    color: white;
    padding: 1em;
    h1 {
        margin: 0;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 130px;
        font-weight: 700;
        font-size: 22px;
        width: 120px;
        background-image: url("logos/logo.png");
        background-size: 120px auto;
        background-repeat: no-repeat;
        @media (min-width: 600px) {
            width: auto;
            font-size: 40px;
            padding-left: 140px;
            padding-top: 30px;
        }
    }
}